body
{
    background-repeat:no-repeat;
    background-image:linear-gradient(45deg,rgb(40, 32, 104) 0%, #002747 100%);
    background-attachment: fixed;
    background-size: cover;
}

h1
{
    color:white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif ;
}

.topBand
{
    font-size:3ch;
    position: static;
    overflow:hidden;
    height: 5%;
    background-color: black;
    opacity: 50%;    
}

.centre
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgImage
{
    position: relative;
    
}

.introParagraph
{

    font-size:5ch;
    color:white;
}