body
{
    background-repeat:no-repeat;
    background-image:linear-gradient(45deg,#09090B 0%, #18181B 100%);
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    margin:0;
    padding:0;
}

h1
{
    color:white;
    text-align: center;
    font-size: 600%;
    width: 20%;
}

.centre
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuButton
{
    border-radius: 10px;
    font-size: 50px;
    cursor: pointer;
    background: linear-gradient(135deg,#00F5FF 0%, #3B82F6 100%);
}

button
{
    cursor: pointer;
}

.topBar
{
    position: fixed;
    z-index: 1000;    
    background-image:linear-gradient(45deg,#09090B 0%, #18181B 100%);
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttonPadding
{
    display: inline-block;
}

button:hover
{
    transform: scale(1.1);
    transition-duration: 300ms;
    opacity: 100%;
    color:white;
    background: linear-gradient(45deg,#57C785 0%, #EDDD53 100%);
}

.homeButton
{
    color: white;
    border-radius: 10px;
    font-size: 50px;
    cursor: pointer;      
    background-image:linear-gradient(130deg,#004e92 0%, #3c0081 100%);
}

#mainTitle
{
    font-style: bold;
    border-radius: 10px;
    background-image:linear-gradient(130deg,#b700ff 0%, #161764 100%);
    color: white;
    margin-top: 10%;
    scale: 170%;
    background-color: #5a00a3;
    font-size: 50px;
}

#Project1
{
    margin-top: 20%;
    scale: 170%;
    
}

#Project1:hover
{
    transform: scale(1.1);
}


.Project1Title
{
    background-color: #5a00a3;
    font-size: 50px;
    color: white;
}

iframe 
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.videoContainer{
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;}

iframe:hover
{
    transform: scale(1.1);
}

.DescriptionPara
{
    border: 2px solid white;
    border-radius: 30px;
    padding: 40px;
    font-size: 20px;
    color: white;
    max-width: 30%;
    background-color:	#03396c;
}

.DescriptionParaTitle
{
    border: 5px solid white;
    border-radius: 30px;
    padding:20px;
    font-size: 30px;
    color: white;
    max-width: 20%;
    background-color: 	#03396c;
}

.DescriptionParaTitle:hover
{
    transform:scale(1.1)
}


.DescriptionPara:hover
{
    transform:scale(1.1)
}

.DropdownButton
{
    border: 5px solid white;
    border-radius: 30px;
    padding:20px;
    font-size: 30px;
    color: white;
    max-width: 20%;
    background-color: 	#03396c;
}

#MechanicsDropDown
{
    width: 600px;
    max-width: 90%;
    margin: 0 auto;      /* centers block elements */
    display: none;
    color: red;
    border-radius: 50px;
    border: 2px solid white;
    background-image: linear-gradient(45deg,rgb(27, 21, 70) 0%, #122c41 100%);}

.centerRow
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.gridLayoutContainer
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

.gridLayoutContainer div
{
    
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

#ShapeShiftDropDown
{
    background-image: linear-gradient(40deg,#202e3b, #678081 100%);
    display:none;
    color:black;
    border-radius: 10px;
}

#ShootingDropDown
{
    display:none;
    color:black;
}

#ClimbingDropDown
{
    display:none;
    color:black;
}

#MovingTilesDropDown
{
    display:none;
    color:black;
}

#EnemyAIDropDown
{
    display:none;
    color:black;
}

#ProceduralGenerationDropDown
{
    display:none;
    color:black;
}